@tailwind base;
@tailwind components;
@tailwind utilities;

@layer demo {
  .highlighted-text-shadow {
    color: #fff;
    font-size: 100px;
    font-weight: 700;
    text-shadow:
      /* regular text-shadow */
      0 .15ch 15px oklch(0.36 0 0),
      /* text-shadow highlight */
      0 -2px 0 var(--highlight);
      padding-left: 100px;
  }
}

@layer demo.support {
  :root {
    --hue: 320; /* change me */
    --bg: oklch(35% .3 var(--hue));
    --text: oklch(85% .1 var(--hue));
    --shadow: oklch(25% .2 var(--hue));
    --highlight: oklch(98% .05 var(--hue));
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {  
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
